@if (selectedCourse) {
<section>
    <div style="display: inline-block;">
        <div class="course-overview-card">
            <div class="course-card-widget">
                <div class="course-card">
                    <p class="course-title-text-style">{{selectedCourse.title}}</p>
                    <p class="instructor-details-style">Instructor Name: {{instructorName}}</p>
                </div>
                <div class="progress-info-container">
                    <input type="range" class="progress-bar" disabled value="80" />
                    <p class="progress-bar-label">80% Completed</p>
                </div>
            </div>
            <div class="course-details-container2">
                <div class="course-overview-container1">
                    <div class="course-overview-container">
                        <p class="course-overview-title">📁 Course Overview</p>
                        <div class="course-details-container">
                            <div class="course-details-container1">
                                <ul class="course-details-list">
                                    <li>{{selectedCourse.sectionCount}} Sections / {{selectedCourse.lectureCount}} Lectures&nbsp;&nbsp;</li>
                                </ul>
                            </div>
                            <div class="course-details-container1">
                                <ul class="course-details-list">
                                    <li>Duration: {{selectedCourse.durationInHours}} hours</li>
                                </ul>
                            </div>
                            <div class="course-details-section">
                                <ul class="course-details-list">
                                    <li>Level: {{selectedCourse.level}}&nbsp;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course-overview-container">
                        <p class="course-overview-title">📚 Course Content</p>
                        <div class="lecture-list-container">
                            <div class="course-details-container1">
                                <ul class="course-details-list">
                                    <li>
                                        Section 1: Intro (3/3 Lectures ✅)
                                        <ul class="course-details-list">
                                            <li>Lecture 1.1 - Overview</li>
                                            <li>Lecture 2 - Introduction about {{selectedCourse.title}}</li>
                                        </ul>
                                    </li>
                                    <li>Section 2: Fundamentals (2/4 Lectures 🟨)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course-overview-container">
                        <p class="course-overview-title">💬 Discussion Form</p>
                        <div class="card-container-with-questions">
                            <div class="main-content-container">
                                <ul class="course-details-list">
                                    <li>&quot;Can someone explain Lecture 1?&quot; [Reply]</li>
                                </ul>
                            </div>
                            <div class="quiz-section-text-style">
                                <ul class="course-details-list">
                                    <li>&quot;When is the next quiz?&quot; [Reply]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grade-panel">
                    <div class="course-overview-container">
                        <p class="course-overview-title">📈 Grades</p>
                        <div class="grade-summary-container1">
                            <div class="grade-summary-container2">
                                <ul class="course-details-list">
                                    <li>Assignment 1: 85%</li>
                                </ul>
                            </div>
                            <div class="grade-summary-container3">
                                <ul class="course-details-list">
                                    <li>Quiz 1: 90%&nbsp;</li>
                                </ul>
                            </div>
                            <div class="grade-summary-container">
                                <ul class="course-details-list">
                                    <li>Final Grade: B+</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course-overview-container">
                        <p class="course-overview-title">📤 Assignments</p>
                        <div class="grade-card-container">
                            <ul class="assignment-list">
                                @if(assignments.length !==0){
                                @for (assignment of assignments; track $index) {
                                <li class="assignment-item">
                                    <div class="assignment-info">
                                        <p class="assignment-title">{{ assignment.title }}</p>
                                        <p class="assignment-desc">{{ assignment.description }}</p>
                                    </div>
                                    <button class="submit-btn" [disabled]="submittedAssignments.has(assignment.id)" (click)="submitAssignment(assignment.id)">{{ submittedAssignments.has(assignment.id) ? 'Submitted' : 'Submit Assignment' }}</button>
                                </li>
                                }
                                } @else {
                                <li class="assignment-item">No assignments</li>
                                }
                            </ul>

                        </div>
                    </div>
                    <div class="course-overview-container">
                        <p class="course-overview-title"><span>📎 </span><span class="resource-title">Resources</span></p>
                        <div class="grade-summary-container1">
                            <div class="grade-list-widget lecture-notes-container grade-list-widget:first-child">
                                @for (lecture of lectures; track $index) {
                                <ul class="lecture-list">
                                    <li class="lecture-item">
                                        <a class="lecture-link" href="{{lecture.description}}" target="_blank">
                                            {{lecture.title}}
                                        </a>
                                    </li>
                                </ul>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
} @else {
<div style="width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;margin-left: 50px;">
    <p>Select a course from the side list to display its information</p>

</div>
}