<div style="display: inline-block; width: 1620px" data-ignore="used only for top most containter width">
  <div class="dashboard-container2">
    <div class="dashboard-container1">
      <div class="enrolled-courses-container">
        <p class="enrolled-courses-heading">📚 Enrolled Courses</p>
        <div class="course-card-container1">
          <div class="course-card-container" *ngFor="let course of courses">
            <h2>{{course.title}}</h2>
            <p>{{course.description}}</p>
            <p>Duration in Hours: <span style="margin-left: 5px;">{{course.durationInHours}}</span></p>
          </div>
        </div>
      </div>
      <div class="dashboard-container">
        <div class="activity-panel">
          <p class="activity-section-title">📅 Upcoming Deadlines</p>
          <div class="card-container-with-tasks">
            <div class="course-item-container" *ngFor="let assignment of assignments">
              <div style="border: 1px solid black;margin: 10px 0px">
                <p>{{assignment.title}}</p>
                <p>Description: {{assignment.description}}</p>
              </div>
            </div>
            <div class="course-item-container" *ngFor="let quiz of quizzes">
              <div>
                <div style="border: 1px solid blue ;margin: 10px 0px">
                  <p>{{quiz.title}}</p>
                  <p>Description: {{quiz.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="activity-panel">
          <p class="activity-section-title"> Media</p>
          <div class="card-container-with-tasks">
            <div class="course-item-container" *ngFor="let lecture of lectures">
              <div style="border: 1px solid black;margin: 10px 0px">
                <a href={{lecture.description}}>{{lecture.title}}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>