<div class="instructor-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="user-info">
        <span class="user-avatar"><i class="fas fa-user"></i></span>
        <div>
          <div class="welcome">Welcome</div>
          <div class="username">{{loggedInInstructor}}</div>
        </div>
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <button class="sidebar-btn" (click)="goToInstructorPage()">
            <i class="fas fa-plus-circle"></i> Create Course
          </button>
        </li>
        <li>
          <div class="sidebar-expandable selectedTab" (click)="toggleCourses()">
            <i class="fas fa-book"></i> My Courses
            <i class="fas" [ngClass]="{ 'fa-chevron-down': coursesExpanded, 'fa-chevron-right': !coursesExpanded }"></i>
          </div>
          <ul class="courses-list" [ngStyle]="{ 'margin': '20px' }" *ngIf="coursesExpanded">
            <li *ngFor="let course of instructorCourses" [class.selected]="selectedCourse === course" (click)="selectCourse(course)">
              <p [ngStyle]="{ 'padding-left': '10px' }">{{ course.title }}</p>
            </li>
          </ul>
        </li>
        <li>
          <button class="sidebar-btn" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <header class="main-header">
      <div class="app-title">LMS</div>
    </header>

    <div *ngIf="!showEnrolledStudentsAndGrades">

      <section class="course-section" *ngIf="selectedCourse">
        <h1>{{ selectedCourse.title }}</h1>
        <div class="course-content">
          <div class="course-card">
            <div class="card-title">
              <i class="fas fa-book-reader"></i> Course Material
            </div>
            <div class="card-section">
              <div class="section-title">Lectures</div>
              <ul *ngIf="selectedCourse.lectures.length > 1 || selectedCourse.lectures[0].title != undefined">
                <li *ngFor="let lecture of selectedCourse?.lectures ?? []">
                  <a href={{lecture?.description}}>{{ lecture?.title }}</a>
                </li>
              </ul>
              <div class="add-action" (click)="showAddLectureForm = true">
                Add Lecture <i class="fas fa-plus-circle"></i>
              </div>
            </div>
          </div>
          <div class="course-card">
            <div class="card-title">
              <i class="fas fa-clipboard-list"></i> Assessments
            </div>
            <div class="card-section">
              <div class="section-title">Assignments</div>
              <ul *ngIf="selectedCourse.assignments.length > 1 || selectedCourse.assignments[0].title != undefined">
                <li *ngFor="let assignment of selectedCourse?.assignments ?? []">
                  <a href="{{ assignment?.description }}">{{ assignment?.title }}</a>
                </li>
              </ul>
              <div class="add-action" [ngStyle]="{ 'margin-bottom': '10px' }" (click)="showAddAssignmentForm = true">
                Add Assignment <i class="fas fa-plus-circle"></i>
              </div>
              <div class="section-title">Quizzes</div>
              <ul *ngIf="selectedCourse.quizzes.length > 1 || selectedCourse.quizzes[0].title != undefined">
                <li *ngFor="let quiz of selectedCourse?.quizzes ?? []">
                  <a href="{{ quiz?.description }}">{{ quiz?.title }}</a>
                </li>
              </ul>
              <div class="add-action" (click)="showAddQuizForm = true">
                Add Quiz <i class="fas fa-plus-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <button class="enrolled-btn" (click)="showEnrolledStudentsAndGrades = true">Enrolled Students and Grades</button>
      </section>

    </div>

    <div *ngIf="showEnrolledStudentsAndGrades">

      <section [ngStyle]="{ 'margin-left': '50px' }">
        <h1 class="course_title">{{ selectedCourse?.title }} 's Enrolled Students and Grades</h1>
        <button class="back-btn" (click)="showEnrolledStudentsAndGrades = false">Back</button>

        <table>

          <thead>
            <tr>
              <th>Student Names</th>

              <th *ngFor="let assignment of selectedCourse?.assignments">
                <ng-container *ngIf="assignment?.title !== undefined">
                  {{ assignment.title }}
                </ng-container>
              </th>

              <th *ngFor="let quiz of selectedCourse?.quizzes">
                <ng-container *ngIf="quiz?.title !== undefined">
                  {{ quiz.title }}
                </ng-container>
              </th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let student of selectedCourseEnrolledStudents">
              <td>{{ student.name }}</td>

              <td *ngFor="let assignment of selectedCourse?.assignments || []">
                <ng-container *ngIf="assignment?.title !== undefined">
                  <input type="number" min="0" max="100" [(ngModel)]="gradesAssignment[student.id][assignment.id]" (ngModelChange)="gradeInputChangeAssignment(student.id, assignment.id, $event)">
                  <button (click)="updateAssignmentGrade(student.id, assignment.id)">Update</button>
                </ng-container>
              </td>

              <td *ngFor="let quiz of selectedCourse?.quizzes || []">
                <ng-container *ngIf="quiz?.title !== undefined">
                  <input type="number" min="0" max="100" [(ngModel)]="gradesQuiz[student.id][quiz.id]" (ngModelChange)="gradeInputChangeQuiz(student.id, quiz.id, $event)">
                  <button (click)="updateQuizGrade(student.id, quiz.id)">Update</button>
                </ng-container>
              </td>

            </tr>
          </tbody>


        </table>

      </section>

    </div>

  </main>
</div>

<!-- Forms -->
<div class="modal" *ngIf="showAddLectureForm">
  <div class="modal-content">
    <h2>Add New Lecture</h2>
    <form (submit)="addLecture()">

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newLectureName" required />
      </div>

      <div class="form-group">
        <label for="description">URL:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newLectureDesc" required />
      </div>

      <button class="enrolled-btn" type="submit">Submit</button>
      <button class="enrolled-btn" [ngStyle]="{ 'background-color': 'red' }" (click)="showAddLectureForm = false">Cancel</button>

    </form>
  </div>
</div>

<div class="modal" *ngIf="showAddAssignmentForm">
  <div class="modal-content">
    <h2>Add New Assignment</h2>
    <form (submit)="addAssignment()">

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newAssignmentName" required />
      </div>

      <div class="form-group">
        <label for="description">URL:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newAssignmentDesc" required />
      </div>

      <button class="enrolled-btn" type="submit">Submit</button>
      <button class="enrolled-btn" [ngStyle]="{ 'background-color': 'red' }" (click)="showAddAssignmentForm = false">Cancel</button>

    </form>
  </div>
</div>

<div class="modal" *ngIf="showAddQuizForm">
  <div class="modal-content">
    <h2>Add New Quiz</h2>
    <form (submit)="addQuiz()">

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newQuizName" required />
      </div>

      <div class="form-group">
        <label for="description">URL:</label>
        <input type="text" id="description" name="description" [(ngModel)]="newQuizDesc" required />
      </div>

      <button class="enrolled-btn" type="submit">Submit</button>
      <button class="enrolled-btn" [ngStyle]="{ 'background-color': 'red' }" (click)="showAddQuizForm = false">Cancel</button>

    </form>
  </div>
</div>